*{
    font-family: "kucchi";
}

.addncls{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
   
}

.cardadnl{
    border: solid 5px black;
}

.logoutdiv{
    margin-top: 30px;
    height: 30px;
    width: 90%;
    margin-left: 4%;
}

.logout_para{
    float:right;
    display: flex;
    cursor: pointer;
}

.numbersdata_grid{

    margin-top: 30px;
    display: flex;
    width: 90%;
    margin-left: 4%;
    
}

.numbersdata{
    border-radius: 12px;
    background-color: #F0EFEF;
    height: 100px;
    width: 25%;
    margin-left: 1%;
    display: flex;
    align-items: center;

    
}

.formvisit_title{
    font-weight: 400;
    width: 50%;
    margin-left: 8px;
    font-size: 18px;
}

.formvisit_value{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 8px;
    font-weight: bold;
    font-size: 20px;
}

.userdetailsmain{
    display: flex;
    width :90%;
    margin-left:5%;
    margin-top: 50px;
}
.detailsListMain{
    width: 39%;
    
}

.displaydataMain{
    margin-left:1%;
    width: 59%;
    margin-top: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.16);

    border-radius: 12px;
}



.nameandemailrow{
    display: flex;
    margin-top: 40px;
   
}

.dispcommon{
    width: 45%;
    margin-left: 1%;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
}

.dispcommon_head{
    width: 45%;
    margin-left: 1%;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}

hr{
    width: 100%;
    border: solid 0.5px gray;
}

.cbox{
    margin-top: 5px;
    height: 20px;
    width: 20px;
}

.seperator{
    margin-top: 30px;
}

.nameandemail{
    cursor: pointer;
}

.valuepara_key{
    margin-left: 20px;
    color: gray;
    font-size: 18px;
    font-weight: 400;
}

.valuepara_value{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.sortandsearchgrid{
    margin-top: 50px;
     width:90%;
     margin-left: 5%;
     display: flex;
     justify-content: space-between;
     
}
.sortandsearchgrid_left{
    float: left;
}

.sortandsearchgrid_right{
    display: flex;
    float: right;
    margin-right: 1%;
    font-size: 15px;
   
}

.time{
    height: 50px;
    width: 150px;
    border: solid 1px gray;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.time_right{
    display: grid;
    place-items: center;
    width: 50%;
}

.time_left{
    display: grid;
    place-items: center;
    width: 50%;
}



.export{
    cursor: pointer;
    font-size: 20px;
    margin-top: 8px;
    color: #2B3AC5;
}

.arrow_img{
    cursor: pointer;
}

.searchdiv{
    margin-left:40px;
    
}

.searchinput{
   
        height: 50px;
        width: 250px;

        border-radius: 12px;

        font-size: 20px;
        font-weight: bold;

}
.exportdiv{
    display: grid;
    place-items: center;
    margin-right: 40px;
    
}

textarea:focus, input:focus{
    outline: none;
}